body{
	font-family: Verdana,'Times New Roman',SimSun,Tahoma,Arial,Helvetica,STHeiti,'Microsoft Yahei','Hiragino Sans GB',"WenQuanYi Micro Hei";
/*	background-image: url(../media/leaves.png);*/
	-moz-background-size:100% 100%; /* 老版本的 Firefox */
	background-size:100% 100%;
	background-repeat:no-repeat;
	/*background-attachment: fixed;*/
	background-color: white;
	margin: 0px;
}

.header{
	width: 100%;
	height: 40px;
	background-color: #222222;
	position: fixed;
	top: 0px;
	z-index: 1;
}
.nav{
	width: 1020px;
	height: 60px;
	margin: 50px auto;
}

.nav-1{
	width: 300px;
	float: left;
	padding-top: 30px;
}
.nav-2{
	width: 600px;
	float: right;
	text-align: right;
	font-size: 25px;
	padding-top: 10px;
}
.nav-2 iframe{
	transform: scale(1.3,1.3);
}
#link_more{
	display: none;
}
.createhistory{
	color: black;
	text-decoration: none;
	font-size: 15px;
}
.middle{
	border: 0px dotted grey;
	width: 1020px;
	margin: 50px auto;
}

.middle .left{
	width: 780px;
	height: 270px;
	float: left;
}

.middle .left .shang{
	background-image: url(../media/xiaoqingxin.jpg);
	height: 50px;
	border: 1px dotted black;
	padding:30px;
	text-align: center;
}
.middle .left .shang a{
	text-decoration: none;
}

.search{
	width: 150px;
	height: 30px;
	background: transparent;
	font-size: 20px;
	border: 1px solid grey;
	transition: 1s;
}

.search:hover,.search:focus{
	width: 300px;
	background-color: white;
}	

/*.logo:hover{
	animation: myfirst 1s infinite linear;
	-moz-animation: myfirst 1s infinite linear;
	-webkit-animation: myfirst 1s infinite linear;	
	-o-animation: myfirst 1s infinite linear;
}
@keyframes myfirst{
	0% {margin-left: 0;margin-top: 0;}
	25% {margin-left: 0px;margin-top: -10px}
	50% {margin-left: 0px;margin-top: 0px}
	75% {margin-left: 0px;margin-top: 10px}
	100% {margin-left: 0px;margin-top: 0px}
}
@-moz-keyframes myfirst{
	0% {margin-left: 0;margin-top: 0;}
	25% {margin-left: 0px;margin-top: -110px}
	50% {margin-left: 0px;margin-top: 0px}
	75% {margin-left: 0px;margin-top: 10px}
	100% {margin-left: 0px;margin-top: 0px}
}
@-webkit-keyframes myfirst{
	0% {margin-left: 0;margin-top: 0;}
	25% {margin-left: 0px;margin-top: -10px}
	50% {margin-left: 0px;margin-top: 0px}
	75% {margin-left: 0px;margin-top: 10px}
	100% {margin-left: 0px;margin-top: 0px}
}
@-o-keyframes myfirst{
	0% {margin-left: 0;margin-top: 0;}
	25% {margin-left: 0px;margin-top: -10px}
	50% {margin-left: 0px;margin-top: 0px}
	75% {margin-left: 0px;margin-top: 10px}
	100% {margin-left: 0px;margin-top: 0px}
}*/

.middle .left .xia{
	height: 160px;
	margin-top: 10px;
	border: 1px dotted black;
}
.xia0-header{
	background-color: lightgrey;
	width: 120px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: dimgray;
}

.xia0{
	width: 120px;
	height: 150px;
	float: left;
	text-align: center;
	margin-left: 5px;
	border: 1px dotted grey;
	padding-bottom: 5px;
}

.middle .right{
	width: 210px;
	height: 260px;
	float: right;
	border: 1px solid dodgerblue;
	text-align: center;
	padding: 10px;
	color: grey;
}

.right-shang{
	height: 140px;
}
.right-shang a,.right-shang a:visited{
	text-decoration: none;
	color: black;
}
.portrait{
	margin-left: 0px;
	width: 70px;
	height: 70px;
	float: left;
}
.username{
	margin-left: 10px;
	width:130px;
	height:60px;
	float: left;
}
.right-xia{
	height: 100px;
}
.clear{
	clear: both;
}

.middle2{
	width: 1020px;
	height: 420px;
	margin: 50px auto 0px;
}

.news-header{
	border-radius: 15px 0px 0px 0px;
	background-color: dodgerblue;
	width: 991px;
	height: 35px;
	line-height: 40px;
	padding-left: 30px;
	color: white;
	text-align: left;
}

.middle2 .news{
	width: 478px;
	height: 320px;
	float: left;
	padding: 15px;
	border: 1px dotted dodgerblue;
}

.news a{
	text-decoration: none;
}
.middle2 .news-smallheader{
	color: black;
}

.news div{font-size:0px;font-family:arial;height: 0px;}
.news .baidu{font-size:17px;line-height:24px;font-family:arial}
.news a, .news a:link{color: black;}
.news .baidu span{color:#6f6f6f;font-size:12px}
.news a.more{color:#000000;display: none;}
.news a.blk{color:#000;font-weight:bold;display: none;}
.news img{display: none;}

.middle3{
	border: 0px;
	width: 1020px;
	height: auto;
	margin: 10px auto;
	text-align: center;
	padding: 10px;
	color: grey;
}

.content{
	border: 1px solid dodgerblue;
	text-align: left;
}
.daohanglanwhole{
	width: 1020px;
	margin: auto;
}
.daohanglan a:link{
	display:block;
	font-weight:bold;
	font-size:18px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	width:80px;
	text-align:center;
	text-decoration:none;
	height: 40px;
	line-height: 40px;
	float: left;
}

.daohanglan img{
	width: 30px;
	height: 30px;
	float: left;
	margin: 7px 10px 0px 10px;
}

.daohanglan a:visited{
	color: #FFFFFF;
}

.daohangactive,.daohanglan a:hover{
	background-color: #666666;
}
.setfirstpage a{
	float: right;
	color: lightgrey;
	font-size: 14px;
	line-height: 30px;
	text-decoration: none;
	padding: 5px;
}
.logo{
	width: 158px;
	height: 40px;
}
.footer{
	margin-top: 20px;
	margin-bottom: 10px;
	height: 60px;
	width: 100%;
	text-align: center;
}
.linkbottom a{
	text-decoration: none;
	color: black;
}
.beian,.beian a{
	text-decoration: none;
	color: grey;
}

.weblist{
	list-style: none;
	text-align: center;
	padding: 0px;
	margin: 0px;
}
.weblist a{
	text-decoration: none;
	color: black;
	line-height: 200%;
}
.weblist a:hover{
	color: purple;
}

.loginbutton{
	margin: 10px;
	width: 190px;
	height: 45px;
	background-color: forestgreen;
	color: white;
	font-size: 16px;
	border: none;
}

.vipbutton{
	margin-top: 10px;
	width: 200px;
	height: 45px;
	background-color: green;
	color: white;
	font-size: 16px;
	border: none;
}

.mailbutton{
	margin: 0px;
	margin-left: 5px;
	padding: 0px;
	width: 100px;
	height: 55px;
	background-color: dodgerblue;
	color: white;
	font-size: 15px;
	border: none;
}

.mailbuttonsmall{
	margin: 0px;
	margin-left: 2px;
	padding: 10px;
	width: 55px;
	height: 55px;
	background-color: dodgerblue;
	color: white;
	font-size: 15px;
	border: none;
}

.mailbuttonslave{
	margin: 0px;
	margin-left: 2px;
	padding: 10px;
	width: 55px;
	height: 55px;
	background-color: lightseagreen;
	color: white;
	font-size: 15px;
	border: none;
}

.mailiframe{
	border: 0px;
	background-color: white;
	margin-top: 10px;
	width: 210px;
	height: 60px;
	padding: 0px;
	display: none;
}
.loading{
	border: 0px;
	background-color: white;
	margin-top: 10px;
	width: 205px;
	height: 60px;
	padding: 0px;
}
.loading img{
	width: 50px;
	height: 50px;
}
.bookbutton{
	margin-top: 0px;
	width: 100px;
	height: 40px;
	background-color: darkorange;
	color: white;
	font-size: 14px;
	border: none;
}
.historybutton{
	margin-left: 0px;
	width: 100px;
	height: 40px;
	background-color: darkslategray;
	color: white;
	font-size: 14px;
	border: none;
}
.history{
	border: 1px dotted gray;
	width: 700px;
	font-size: 15px;
	padding: 20px;
	padding-left: 50px;
}
.historytitle{
	font-size: 18px;
	margin-left: -20px;
	margin-top: 0px;
}
.create-qianyan{
	width: 1020px;
	margin: 20px auto;
}
.liuyanlist{
	width: 800px;
	border: 1px solid gray;
	padding: 20px;
	margin-top : 10px;
}

.huifulist{
	width:500px;
	border: 1px dotted dodgerblue;
	margin-left: 300px;
}
.newcheck{
	width: 100px;	
	height: 45px;
	border: 1px dotted gray;
	padding-top: 10px;
	margin: 0px;
	text-align: center;
	color: black;
	float: left;
}
.newcheck0{
	width: 85px;	
	height: 45px;
	border: 1px dotted gray;
	padding-top: 10px;
	margin: 0px;
	text-align: center;
	color: black;
	float: left;
}

.maildiv{
	float: right;
	line-height: 20px;
}

.bizmail_loginpanel{font-size:12px;width:350px;height:auto;border:1px solid #cccccc;background:#ffffff;}
.bizmail_LoginBox{padding:10px 15px;}
.bizmail_loginpanel h3{padding-bottom:5px;margin:0 0 5px 0;border-bottom:1px solid #cccccc;font-size:14px;}
.bizmail_loginpanel form{margin:0;padding:0;}
.bizmail_loginpanel input.text{font-size:12px;width:100px;height:20px;margin:0 2px;border:1px solid #C3C3C3;border-color:#7C7C7C #C3C3C3 #C3C3C3 #9A9A9A;}
.bizmail_loginpanel .bizmail_column{height:28px;}
.bizmail_loginpanel .bizmail_column label{display:block;float:left;width:30px;height:24px;line-height:24px;font-size:12px;}
.bizmail_loginpanel .bizmail_column .bizmail_inputArea{float:left;width:240px;}
.bizmail_loginpanel .bizmail_column span{font-size:12px;word-wrap:break-word;margin-left: 2px;line-height:200%;}
.bizmail_loginpanel .bizmail_SubmitArea{margin-left:30px;clear:both;}
.bizmail_loginpanel .bizmail_SubmitArea a{font-size:12px;margin-left:5px;}
.bizmail_loginpanel select{width:100px;height:20px;margin:0 2px;}

.spinner {

  width: 210px;

  height: 50px;

  text-align: center;

  font-size: 10px;

}

 

.spinner > div {

  background-color: #67CF22;

  height: 100%;

  width: 6px;

  display: inline-block;

   

  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;

  animation: stretchdelay 1.2s infinite ease-in-out;

}

 

.spinner .rect2 {

  -webkit-animation-delay: -1.1s;

  animation-delay: -1.1s;

}

 

.spinner .rect3 {

  -webkit-animation-delay: -1.0s;

  animation-delay: -1.0s;

}

 

.spinner .rect4 {

  -webkit-animation-delay: -0.9s;

  animation-delay: -0.9s;

}

 

.spinner .rect5 {

  -webkit-animation-delay: -0.8s;

  animation-delay: -0.8s;

}

 

@-webkit-keyframes stretchdelay {

  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  

  20% { -webkit-transform: scaleY(1.0) }

}

 

@keyframes stretchdelay {

  0%, 40%, 100% { 

    transform: scaleY(0.4);

    -webkit-transform: scaleY(0.4);

  }  20% { 

    transform: scaleY(1.0);

    -webkit-transform: scaleY(1.0);

  }

}